.border{
  border: 1px solid white;
}
.gradient__bg {
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient__text {
  background:  #81AFDD;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.wid60{
  width: 80%;
}
.wid40{
  width:40%;
}
.hht{
  height: 65rem;
}


.gradient-text{
  background-color: (89.97deg, #AE67FA 1.84%, #F49867 102.67%)
};
.gradient-bar{
  background-color: (103.22deg, #AE67FA -13.86%, #F49867 99.55%);
} 

.bgg{
  background-color: #042c54;
}
.gradtext{
  background: -webkit-radial-gradient(
    circle,
    rgb(225, 224, 242) 0%,
    rgb(244, 129, 68) 21%,
    rgb(216, 234, 112) 51%,
    rgba(0, 255, 113, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}
/* .gradtext2{
  background: -webkit-linear-gradient(
    linear,
    rgb(221, 15, 253) 0%,
    rgb(244, 129, 68) 21%,
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

} */
  